<xml>
<ToUserName><![CDATA[<%= @request['FromUserName'] %>]]></ToUserName>
<FromUserName><![CDATA[<%= @request['ToUserName'] %>]]></FromUserName>
<CreateTime><%= Time.now.to_i %></CreateTime>
<MsgType><![CDATA[news]]></MsgType>
<ArticleCount><%= @videos.count %></ArticleCount>
<Articles>
    <% @videos.each do |item| %>
        <item>
            <Title><![CDATA[<%= strip_tags item.title %>]]></Title>
            <Description><![CDATA[<%= strip_tags item.title %>]]></Description>
            <PicUrl><![CDATA[<%= item.cover %>]]></PicUrl>
            <Url><![CDATA[<%= "http://#{Settings.host}" + video_playing_path(item.tv_code) %>]]></Url>
        </item>
    <% end %>
</Articles>
</xml>