<%= content_for(:title,  '上传云文件 | Koogle') %>
<section class="content-header">
  <h1>
    七牛云存储 <small>文件上传</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 数据中心</a></li>
    <li><i class="fa fa-skyatlas"></i> 文件云存储</li>
    <li class="active"><i class="fa fa-file"></i> 上传文件</li>
  </ol>
</section>
<%= render partial: 'layouts/notice' %>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">上传文件</h3>
      </div>
      <form action="<%= create_file_path %>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <div class="box-body" style="padding-left: 20px">
          <div style="padding-left: 200px">
            <div class="form-group has-warning">
              <div class="input-group" style="width: 350px">
                <div class="input-group-addon"><i class="fa fa-hand-o-right"></i></div>
                <select id="file_select" class="form-control">
                  <option value="0">请选择文件类型</option>
                  <option value="1">图片 / Picture</option>
                  <option value="2">媒体 / Media</option>
                  <option value="3">其他 / File</option>
                </select>
              </div>
            </div>
            <div id="1_div" class="form-group has-success" style="display: none">
              <div class="input-group" style="width: 350px">
                <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
                <input type="file" id="imgInp" name="file" accept=".png,.jpg,.jpeg,.gif"class="form-control">
              </div>
            </div>
            <div id="2_div" class="form-group has-error" style="display: none">
              <div class="input-group" style="width: 350px">
                <div class="input-group-addon"><i class="fa fa-file-video-o"></i></div>
                <input type="file" id="mediaInp" name="file" accept=".mp4,.flv,.mp3" class="form-control">
              </div>
            </div>
            <div id="3_div" class="form-group has-feedback" style="display: none">
              <div class="input-group" style="width: 350px">
                <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
                <input type="file" id="fileInp" name="file" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div>
          <div id="img_show" style="display: none" title="图片文件预览">
            <div style="text-align: center"><img id="imgblah" style="max-width: 800px"/></div>
          </div>
          <div id="media_show" style="display: none" title="媒体文件预览">
            <div style="text-align: center"><video id="mediablah" controls="controls" width="800px" poster="<%= Settings.qiniu_cdn_host %>img_video_poster.png"></video></div>
          </div>
        </div>
        <div>
          <hr>
          <div style="padding-left: 220px;padding-bottom: 50px">
            <button type="submit" class="btn btn-primary" style="width: 120px">提交</button>
            <a href="<%= files_path %>" class="btn btn-warning" style="width: 120px">取消</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script type="text/javascript">
    $('#file_select').change(function(){
        if($('#file_select').val() > 0){
            var select_div = $('#file_select').val();
            $('#1_div').attr('style','display: none');
            $('#2_div').attr('style','display: none');
            $('#3_div').attr('style','display: none');
            $('#' +select_div+ '_div').removeAttr('style').show("slow");
        }
    });
    $("#imgInp").change(function(){
        readimgURL(this);
    });
    $("#mediaInp").change(function(){
        $('#media_show').removeAttr('style');
        readmediaURL(this);
    });
    function readimgURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_show').removeAttr('style');
                $('#media_show').attr('style','display: none');
                $('#imgblah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readmediaURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_show').attr('style','display: none');
                $('#media_show').removeAttr('style');
                $('#mediablah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
