<div id="form">
  <form class="reply authenticated expanded">
    <div class="postbox">
      <div role="alert"></div>
      <div class="avatar">
        <a class="user">
          <% if current_user %>
            <img src="<%= display_avatar current_user %>">
          <% else %>
            <img src="<%= image_path('toutu/just_logo.png') %>">
          <% end %>
        </a>
      </div>
      <div class="textarea-wrapper" data-role="textarea" dir="auto">
        <div id="comment-content" class="textarea" tabindex="0" role="textbox" aria-multiline="true" contenteditable="true" data-role="editable" aria-label="Join the discussion…" style="overflow: auto; max-height: 300px;"></div>
        <div class="media-preview empty" data-role="media-preview">
          <div class="media-expanded empty" data-role="media-preview-expanded">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-role="media-preview-expanded-image" alt="Media preview placeholder">
          </div>
        </div>
        <div id="comment-btn" class="post-actions" style="display: none">
          <div class="logged-in"style="text-align: right">
              <% if current_user %>
                  <a id='user' class="btn" style="background-color: #2A92DD" onclick="comment(<%= current_user.id %>,'')">
                    <span>以「<%= display_name current_user %>」评论</span>
                  </a>
                  <a id="reply-user" class="btn" style="display: none"></a>
              <% else %>
                  <a id='no-user' href="javascript:void(0)" class="btn" style="background-color: #000000" onclick="Anonymous()">
                      <span>「匿名」评论</span>
                  </a>
                  <a id="user_login" href="javascript:void(0)" class="btn" style="background-color: #dd3b5a">
                    <span>「登录」评论</span>
                  </a>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $("#comment-content").mousedown(function(){
    $("#comment-btn").removeAttr('style');
  });
  function Anonymous(){
    params = {};
    params['comment'] = {};
    params['comment']['video_id'] = <%= @video.id %>;
    params['comment']['user_id'] = 0;
    params['comment']['content'] = $('#comment-content').html();
    if(params['comment']['content'].length<5){
        alert('评论内容至少为五个字！');
        return false;
    }else{
        $.post('/video/comment', params, function(data){
            $("#post-list").prepend(data);
        });
        $("#comment-btn").attr('style','display: none');
        $("#comment-content").html('');
    }
  }
    <% if current_user %>
      function comment(user,reply){
        params = {};
        params['comment'] = {};
        params['comment']['video_id'] = <%= @video.id %>;
        params['comment']['user_id'] = user;
        params['comment']['reply_id'] = reply;
        params['comment']['content'] = $('#comment-content').html();
        if(params['comment']['content'].length<5){
            alert('评论内容至少为五个字！');
            return false;
        }else{
            $.post('/video/comment', params, function(data){
                $("#post-list").prepend(data);
            });
            if(reply != ''){
                $('#user').removeAttr('style').attr('style','background-color: #2A92DD');
                $('#no-user').removeAttr('style').attr('style','background-color: #405d29');
                $('#reply-user').attr('style','display: none');
            }
            $("#comment-btn").attr('style','display: none');
            $("#comment-content").html('');
        }
      }
    <% end %>
</script>