<div id="form">
  <form class="reply authenticated expanded">
    <div class="postbox">
      <div role="alert"></div>
      <div class="avatar">
        <a class="user">
              <img src="<%= image_path('toutu/just_logo.png') %>">
        </a>
      </div>
      <div class="textarea-wrapper" data-role="textarea" dir="auto">
        <div id="comment-content" class="textarea" tabindex="0" role="textbox" aria-multiline="true" contenteditable="true" data-role="editable" aria-label="Join the discussion…" style="overflow: auto; max-height: 300px;"></div>
        <div class="media-preview empty" data-role="media-preview">
          <div class="media-expanded empty" data-role="media-preview-expanded">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-role="media-preview-expanded-image" alt="Media preview placeholder">
          </div>
        </div>
        <div id="comment-btn" class="post-actions" style="display: none">
          <% if current_user %>
            <div class="logged-in"style="text-align: right">
              <a id='user' class="btn" style="background-color: #2A92DD" onclick="comment(<%= current_user.id %>,'')">
                <span>以「<%= user_name current_user %>」评论</span>
              </a>
              <a id='no-user' href="javascript:void(0)" class="btn" style="background-color: #000000" onclick="Anonymous()">
                <span>「匿名」评论</span>
              </a>
              <a id="reply-user" class="btn" style="display: none"></a>
            </div>
          <% else %>
            <div class="logged-in"style="text-align: right">
              <a id='no-user' href="javascript:void(0)" class="btn" style="background-color: #000000" onclick="Anonymous()">
                  <span>「匿名」评论</span>
              </a>
              <a id="user_login" href="javascript:void(0)" class="btn" style="background-color: #dd3b5a">
                <span>「登录」评论</span>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $("#comment-content").mousedown(function(){
    $("#comment-btn").removeAttr('style');
  });
    //游客匿名评论
  function Anonymous(){
    params = {};
    params['comment'] = {};
    params['comment']['video_id'] = <%= @video.id %>;
    params['comment']['user_id'] = 0;
    params['comment']['content'] = $('#comment-content').html();
    if(params['comment']['content'].length<5){
        alert('评论内容至少为五个字！');
        return false;
    }else{
        $.get('/video_comments/anonymous_comment', params, function(data){});
        var new_comment = '';
        new_comment += '<li class="post"><div data-role="post-content" class="post-content authored-by-session-user"> <div class="avatar hovercard">';
        new_comment += '<img src="/images/avatar/wechat.png" alt="Avatar">';
        new_comment += '</div><div class="post-body"><header><span class="post-byline"><span class="author publisher-anchor-color"> <a><%#= VideoComment::Anonymous[rand(108)]%></a> </span></span> <span class="post-meta"> <span class="bullet time-ago-bullet" aria-hidden="true">•</span>';
        new_comment += '<a data-role="relative-time" class="time-ago" title="<%= Time.now.strftime('%Y年%m月%d日 %H:%M') %>">刚刚</a></span>';
        new_comment += '<div class="post-body-inner" style="font-size: 16px;color: #000000">'+ params['comment']['content'] +'</div>';
        new_comment += '<footer><menu><li class="voting" data-role="voting"><a class="vote-up  count-0" data-action="upvote" title="Vote up"><span class="control">赞一个</span></a></li></menu></footer></div></div></li>';
        $("#post-list").prepend(new_comment);
        $("#comment-btn").attr('style','display: none');
        $("#comment-content").html('');
    }
  }
    <% if current_user %>
      function comment(user,reply){
        params = {};
        params['comment'] = {};
        params['comment']['video_id'] = <%= @video.id %>;
        params['comment']['user_id'] = user;
        params['comment']['reply_id'] = reply;
        params['comment']['content'] = $('#comment-content').html();
        if(params['comment']['content'].length<5){
            alert('评论内容至少为五个字！');
            return false;
        }else{
            $.get('/video_comments/user_comment', params, function(data){});
            var new_comment = '';
            new_comment += '<li class="post"><div data-role="post-content" class="post-content authored-by-session-user"> <div class="avatar hovercard">';
            new_comment += '<img src="<%= user_avatar current_user %>" alt="Avatar">';
            new_comment += '</div><div class="post-body"><header><span class="post-byline"><span class="author publisher-anchor-color"><a><%= user_name current_user %></a> </span><span title="<%= rank_name current_user %>"><img src="<%= rank_picture current_user %>" style="height:24px;"></span></span> <span class="post-meta"> <span class="bullet time-ago-bullet" aria-hidden="true">•</span>';
            new_comment += '<a data-role="relative-time" class="time-ago" title="<%= Time.now.strftime('%Y年%m月%d日 %H:%M')%>">刚刚</a></span>';
            new_comment += '<div class="post-body-inner" style="font-size: 16px;color: #000000">' +params['comment']['content'] +'</div>';
            new_comment += '<footer><menu><li class="voting" data-role="voting"><a class="vote-up  count-0" data-action="upvote" title="Vote up"><span class="control">赞一个</span></a></li><li class="bullet" aria-hidden="true">•</li> <li class="share"> <a class="toggle" style="font-size: 18px"><span class="text">分享 ›</span></a> <ul> <li class="twitter"><a href="#">QQ空间</a></li> <li class="facebook"><a href="#">新浪微博</a></li> <li class="link"><a href="#">安全链接</a></li> </ul> </li> </menu> </footer> </div> </div> </li>';
            $("#post-list").prepend(new_comment);
            if(reply != ''){
                $('#user').removeAttr('style').attr('style','background-color: #2A92DD');
                $('#no-user').removeAttr('style').attr('style','background-color: #405d29');
                $('#reply-user').attr('style','display: none');
            }
            $("#comment-btn").attr('style','display: none');
            $("#comment-content").html('');
        }
      }
    <% end %>
</script>