<% @comments.each do |comment| %>
    <li class="post">
      <% if comment.user_id == 0 %>
          <% num = rand(Comment::Name.size) %>
      <%else%>
          <% user = User.find(comment.user_id) %>
      <%end%>
      <div data-role="post-content" class="post-content authored-by-session-user">
        <div class="avatar hovercard">
          <% if comment.user_id == 0 %>
              <img src="<%= rand_lol_picture num %>" alt="Avatar">
          <%else%>
              <img src="<%= display_avatar user %>" alt="Avatar">
          <%end%>
        </div>
        <div class="post-body">
        <header>
            <span class="post-byline">
              <span class="author publisher-anchor-color">
                <% if comment.user_id == 0 %>
                    <a><%= Comment::Name[num] %></a>
                <%else%>
                    <a><%= display_name user %></a>
                <%end%>
              </span>
              <span class="bullet time-ago-bullet" aria-hidden="true">•</span>
              <% if comment.user_id == 0 %>
               <span title="<%= rand_rank_name num %>"><img src="<%= rand_rank_picture num %>" style="height: 24px"></span>
              <%else%>
                <span title="<%= rank_name user %>"><img src="<%= rank_picture user %>" style="height: 24px"></span>
              <%end%>
            </span>
            <span class="post-meta">
              <span class="bullet time-ago-bullet" aria-hidden="true">•</span>
              <span title="<%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>"><%= time_ago_in_words(comment.created_at) %></span>
            </span>
        </header>
          <div class="post-body-inner" style="font-size: 16px;color: #000000">
            <%= raw comment.content %>
          </div>
          <footer>
            <menu>
              <% if current_user %>
                  <% if comment.user_id == current_user.id %>
                      <li class="voting" data-role="voting">
                        <a class="vote-up count-0"  data-action="upvote">
                          <span class="control" style="padding-left: 10px"><i class="fa fa-thumbs-up"></i>•<%= comment.vote %></span>
                        </a>
                      </li>
                  <% else %>
                      <li class="voting" data-role="voting">
                        <a id="vote_<%= comment.id %>" href="javascript:void(0)" class="vote-up  count-0" onclick="vote(<%= comment.id %>)" data-action="upvote">
                          <span class="control" style="padding-left: 10px"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;•&nbsp;&nbsp;<%= comment.vote %></span>
                        </a>
                      </li>
                  <% end %>
                  <% if comment.user_id > 0 && comment.user_id != current_user.id %>
                      <li class="bullet" aria-hidden="true">•</li>
                      <li class="voting" data-role="reply-link">
                        <a href="javascript:void(0)" data-action="reply" onclick="reply(<%= comment.user_id %>,'<%= display_name User.find(comment.user_id) %>')">
                          <span class="control"><i class="fa fa-reply-all"></i></span>
                        </a>
                      </li>
                  <% end %>
              <% else %>
                  <li class="voting" data-role="voting">
                    <a id="vote_<%= comment.id %>" href="javascript:void(0)" class="vote-up  count-0" onclick="vote(<%= comment.id %>)" data-action="upvote">
                      <span class="control" style="padding-left: 10px"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;•&nbsp;&nbsp;<%= comment.vote %></span>
                    </a>
                  </li>
                  <% if comment.user_id > 0 %>
                      <li class="bullet" aria-hidden="true">•</li>
                      <li class="voting" data-role="reply-link">
                        <a href="javascript:void(0)" data-action="reply" onclick="reply('','')">
                          <span class="control"><i class="fa fa-reply-all"></i></span>
                        </a>
                      </li>
                  <% end %>
              <% end %>
            </menu>
          </footer>
        </div>
      </div>
    </li>
<% end %>
<script type="text/javascript">
 function reply(reply_id,reply_name){
   <% if current_user %>
        $('#user').attr('style','display: none');
        $('#no-user').attr('style','display: none');
        $('comment-btn').removeAttr('style');
        $('#reply-user').removeAttr('style').attr('style','background-color: #2A92DD');
        $('#reply-user').attr('onclick','comment('+ <%= current_user.id %>+',' +reply_id +')' ).html('<span>回复「'+ reply_name +'」评论</span>');
        $("#comment-content").html('<a style="color: #dd3b5a;font-size: 14px;">@'+ reply_name + '：</a>&nbsp;');
   <% else %>
        $.blockUI({ message: $('#login_form') });
   <% end %>
 };
 function vote(comment){
     $.get('/video/comment/vote?id=' + comment,function(data){
         $('#vote_' + comment).removeAttr('onclick').html('<span class="control" style="padding-left: 10px"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;•&nbsp;&nbsp;'+ data +'</span>');
     });
 }
</script>