<% comments.each do |comment| %>
    <li class="post">
      <% num = rand(Comment::Name.size) %>
      <div data-role="post-content" class="post-content authored-by-session-user">
        <div class="avatar hovercard">
          <img src="<%= rand_lol_picture num %>" alt="Avatar">
        </div>
        <div class="post-body">
          <header>
            <span class="post-byline">
              <span class="author publisher-anchor-color">
                <a><%= Comment::Name[num] %></a>
              </span>
              <span class="bullet time-ago-bullet" aria-hidden="true">•</span>
               <span title="<%= rand_rank_name num %>"><img src="<%= rand_rank_picture num %>" style="height: 24px"></span>
            </span>
            <span class="post-meta">
              <span class="bullet time-ago-bullet" aria-hidden="true">•</span>
              <span title="<%= comment['published'] %>"><%= time_ago_in_words(comment['published']) %></span>
            </span>
          </header>
          <div class="post-body-inner" style="font-size: 16px;color: #000000">
            <%= comment['content'] %>
          </div>
        </div>
      </div>
    </li>
<% end %>