<%= content_for(:title,  '午夜剧场 | 暗夜TV') %>
<div class="container" style="padding-top: 70px">
  <div class="grid">
    <div class="programa">
      <div class="side">
        <p><img src="<%= image_url('video1.png') %>" style="width: 20px;height: 16px;padding-bottom: 5px"></span>
          <%= @avs.count %> 个视频</p>
      </div>
      <div class="programa-list">
        <ul>
          <li><a href="/">全部视频</a></li>
          <% Channel.order(:id).each do |channel| %>
              <li <% if params[:english].present? && params[:english] == channel.english%> class="active" <% end %>>
                <a href="/channel/<%= channel.english %>"> <%= channel.title %></a>
              </li>
          <% end %>
          <% if current_user %>
              <% if current_user.sign_in_count > 99 || current_user.level > 0 %>
                  <li <% if action_name == 'loving' %> class="active" <% end %>>
                    <a href="/private/Loving"> 午夜剧场</a>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="video">
      <ul class="video-list">
        <% @avs.each do |video| %>
            <% cache video do %>
                <li class="video-item">
                  <a class="animated" href="<%= fucking_path(video) %>" target="_blank">
                    <div class="video-poster"><img src="<%= video.av_poster %>" alt=""></div>
                    <div class="video-play" title="<%= video.av_title %>">
                      <h4><span><img src="<%= image_url('play.png') %>" style="width: 55px;height: 65px;padding-bottom: 10px;"></span></h4>
                    </div>
                    <div class="video-info">
                      <p>「<%= video.av_type %>」<%= video.av_title %></p>
                      <p><%= video.av_duration %>
                        <span class="v-time"><%= video.created_at.strftime('%m/%d %H:%M') %></span>
                      </p>
                    </div>
                  </a>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="more">
      <a class="load-more" href="javascript:void(0)">
        <h4>小撸怡情、大撸伤身、强撸精尽人亡</h4>
      </a>
    </div>
  </div>
</div>