<%= content_for(:title, @channel.title + ' | 暗夜TV') %>
<div class="container" style="padding-top: 70px">
  <div class="grid">
    <div class="programa">
      <div class="side">
        <p><img src="<%= image_url('video1.png') %>" style="width: 20px;height: 16px;padding-bottom: 5px"></span>
          <%= ChannelVideo.where(:channel_id=>@channel.id).count %> 个视频</p>
      </div>
      <div class="programa-list">
        <ul>
          <li><a href="/">全部视频</a></li>
          <% Channel.order(:id).each do |channel| %>
              <li <% if params[:english].present? && params[:english] == channel.english%> class="active" <% end %>>
                <a href="/channel/<%= channel.english %>"> <%= channel.title %></a>
              </li>
          <% end %>
          <% if current_user %>
              <% if current_user.sign_in_count > 99 || current_user.level > 0 %>
                  <li <% if action_name == 'loving' %> class="active" <% end %>>
                    <a href="/private/Loving"> 午夜剧场</a>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="video">
      <ul class="video-list">
        <% @channel_videos.each do |video| %>
            <% cache video do %>
            <li class="video-item">
              <a class="animated" href="/playing/<%= video.youku_id %>" target="_blank">
                <div class="video-poster"><img src="<%= video.video_cover %>" alt=""></div>
                <div class="video-play" title="<%= symbol_truncate video.title %>">
                  <h4><span><img src="<%= image_url('play.png') %>" style="width: 55px;height: 65px;padding-bottom: 10px;"></span></h4>
                </div>
                <div class="video-info">
                  <p><%= symbol_truncate video.title %></p>
                  <p><%= video_time video.youku_json[:duration] %>
                    <span class="v-time"><%= video.created_at.strftime('%m/%d %H:%M') %></span>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="more">
      <a class="load-more" href="javascript:void(0)" onclick="load_channel_more(2,<%= @channel.id %>)">
        <h4>MORE( <%= ChannelVideo.where(:channel_id=>@channel.id).count - 9 > 0? ChannelVideo.where(:channel_id=>@channel.id).count - 9:'+ _'%> + )</h4>
      </a>
    </div>
  </div>
</div>
<script>
    function load_channel_more(page,channel){
        var num = parseInt(page)+1;
        $.get('/video/get_channel_more',{page: page, channel:channel},
                function(data){
                    if(data['count']==0){
                        $('.load-more').html('<h4>(>_<)没有更多视频了!</h4>').removeAttr('onclick')
                    }else{
                        $('.load-more').attr('onclick',"load_channel_more("+ num +","+ channel +")")
                        $('.load-more').html("<h4>MORE（"+ data['left']+"+）</h4>")
                        $.each(data['body'], function(idx,video){
                            var html ="";
                            html += "<li class='video-item'>";
                            html += "<a class='animated' href='/playing/"+ video['youku_id'] + "'target='_blank'>";
                            html += "<div class='video-poster'>";
                            html += "<img src='"+video['image']+"' alt=''>";
                            html += "</div>";
                            html += "<div class='video-play' title='"+ video['title'] +"'>";
                            html += "<h4><span><img src='<%= image_url('play.png') %>' style='width: 55px;height: 65px;padding-bottom: 10px;'></span></h4>";
                            html += "</div>";
                            html += "<div class='video-info'>";
                            html += "<p>"+ video['title']+ "</p>";
                            html += "<p>"+video['duration']+"<span class='v-time'>"+ video['time'] + "</span></p>";
                            html += "</div>";
                            html += "</a>";
                            html += "</li>";
                            $('.video-list').append(html);
                        })
                    }

                })
    }
</script>