<div class="c-860 c-demoslider">
  <div id="cuteslider_3_wrapper" class="cs-circleslight">
    <div id="cuteslider_3" class="cute-slider" data-width="960" data-height="420" data-overpause="true">
      <ul data-type="slides">
        <% ChannelVideo.where(:is_recommend => 1).order(:channel_id).each do |recommend| %>
            <li data-delay="5" data-src="5" data-trans3d="tr6,tr17,tr22,tr23,tr29,tr27,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13,tr45" data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41">
              <% if ChannelVideo.where(:is_recommend => 1).order(:channel_id).first.id == recommend.id %>
                <img src="<%= Channel.find_by_id(recommend.channel_id).cover %>" data-thumb="<%= Channel.find_by_id(recommend.channel_id).cover %>"/>
              <% else %>
                  <img src="<%= image_path ('slider/blank.png') %>" data-src="<%= Channel.find_by_id(recommend.channel_id).cover %>" data-thumb="<%= Channel.find_by_id(recommend.channel_id).cover %>"/>
              <% end %>
              <a data-type="link" href="/playing/<%= recommend.youku_id %>" target="_blank"></a>
            </li>
        <% end %>
      </ul>
      <ul data-type="controls">
        <li data-type="captions"></li>
        <li data-type="link"></li>
        <li data-type="video"></li>
        <li data-type="slideinfo"></li>
        <li data-type="circletimer"></li>
        <li data-type="previous"></li>
        <li data-type="next"> </li>
        <li data-type="bartimer"></li>
        <li data-type="slidecontrol" data-thumb="true" data-thumbalign="up"></li>
      </ul>
    </div>
    <div class="cute-shadow"><img src="<%= image_path ('slider/shadow.png') %>" alt="shadow" /></div>
  </div>
</div>

<div class="container">
  <div class="grid">
    <div class="programa">
      <div class="side">
        <!--<p><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>-->
          <span><img src="<%= image_url('video1.png') %>" style="width: 20px;height: 16px;padding-bottom: 5px"></span>
          <%= ChannelVideo.all.count %> 个视频</p>
      </div>
      <div class="programa-list">
        <ul>
          <% Channel.order(:id).each do |channel| %>
            <li><a href="/channel/<%= channel.english %>"><%= channel.title %></a></li>
          <% end %>
          <% if current_user %>
              <% if current_user.sign_in_count > 99 || current_user.level > 0 %>
                  <li><a href="/private/Loving"> 午夜剧场</a></li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="video">
      <ul class="video-list">
        <% @videos.each do |video| %>
            <% cache video do %>
            <li class="video-item">
              <a class="animated" href="/playing/<%= video.youku_id %>" target="_blank">
                <div class="video-poster"><img src="<%= video.video_cover %>" alt=""></div>
                <div class="video-play" title="<%= symbol_truncate video.title %>">
                  <h4><span><img src="<%= image_url('play.png') %>" style="width: 55px;height: 65px;padding-bottom: 10px;"></span></h4>
                </div>
                <div class="video-info">
                  <p>「<%= Channel.find(video.channel_id).title %>」<%= symbol_truncate video.title %></p>
                  <p><%= video_time video.youku_json[:duration] %>
                    <span class="v-time"><%= video.created_at.strftime('%m/%d %H:%M') %></span>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="more">
      <a class="load-more" href="javascript:void(0)" onclick="load_more(2)">
        <h4>MORE( <%= ChannelVideo.all.count - 9 > 0? ChannelVideo.all.count - 9: '+ _' %> + )</h4></a>
    </div>
  </div>
</div>
<script>
    function load_more(page){
        var num = parseInt(page)+1;
        $.get('/video/get_more',{page: page},
        function(data){
            if(data['count']==0){
                $('.load-more').html('<h4>(>_<)没有更多视频了!</h4>').removeAttr('onclick')
            }else{
                $('.load-more').attr('onclick',"load_more("+ num +")")
                $('.load-more').html("<h4>MORE（"+ data['left']+"+）</h4>")
                $.each(data['body'], function(idx,video){
                    var html ="";
                    html += "<li class='video-item'>";
                    html += "<a class='animated' href='/playing/"+ video['youku_id'] + "'target='_blank'>";
                    html += "<div class='video-poster'>";
                    html += "<img src='"+video['image']+"' alt=''>";
                    html += "</div>";
                    html += "<div class='video-play' title='"+ video['title'] +"'>";
                    html += "<h4><span><img src='<%= image_url('play.png') %>' style='width: 55px;height: 65px;padding-bottom: 10px;'></span></h4>";
                    html += "</div>";
                    html += "<div class='video-info'>";
                    html += "<p>"+ video['channel']+ video['title']+ "</p>";
                    html += "<p>"+video['duration']+"<span class='v-time'>"+ video['time'] + "</span></p>";
                    html += "</div></a></li>";
                    $('.video-list').append(html);
                })
            }

        })
    }
</script>
<script type="text/javascript">
    var cuteslider3 = new Cute.Slider();
    cuteslider3.setup("cuteslider_3" , "cuteslider_3_wrapper", "<%= stylesheet_path 'slider' %>");
    cuteslider3.api.addEventListener(Cute.SliderEvent.CHANGE_START, function(event){});
    cuteslider3.api.addEventListener(Cute.SliderEvent.CHANGE_END, function(event){});
    cuteslider3.api.addEventListener(Cute.SliderEvent.WATING, function(event){});
    cuteslider3.api.addEventListener(Cute.SliderEvent.CHANGE_NEXT_SLIDE, function(event){});
    cuteslider3.api.addEventListener(Cute.SliderEvent.WATING_FOR_NEXT, function(event){});
</script>