<%= content_for(:title, symbol_truncate(@video['title']) + ' | Koogle') %>
<script type="text/javascript" src="//7xjfim.com2.z0.glb.qiniucdn.com/Iva.js"></script>
<div class="container">
  <div class="grid">
    <div class="display">
      <div class="player-title">
        「优酷视频」<%= symbol_truncate @video['title'] %>
      </div>
      <div class="player-poster">
        <p><%= video_time @video['duration'] %>
          <span class="v-time"><%= @video['published']%></span></p>
      </div>
      <div class="player">
        <div>
          <div id="playerCnt" class="video_player"></div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top: 50px"></div>
</div>
<script type="text/javascript" >
  var ivaInstance = new Iva('playerCnt', {
    appkey: '4JAun1rRl',
    title: '<%= symbol_truncate(@video['title']) %>',
    video: 'http://v.youku.com/v_show/id_<%= @video['id'] %>.html',
    cover: '<%= Settings.qiniu_cdn_host %>img_video_poster.png',
    autoFormat: true,
    autoplay: true
  });
</script>