<%= content_for(:title, @video.title + ' | Koogle') %>
<%= render partial: 'shared/og_meta', video:@video %>
<div class="container">
  <div class="grid">
    <div class="display">
      <div class="player-title">
        「<%= video_to_column_name(@video.column_id) %>」<%= @video.title %>
      </div>
      <div class="player-poster">
        <p><%= video_time @video.duration %>
          <span class="v-time"><%= @video.created_at.strftime('%m/%d %H:%M')%></span></p>
      </div>
      <div class="player">
        <div style="padding-left: 5px;padding-top: 5px">
          <div id="playerCnt" class="video_player"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid">
    <div class="cube">
      <div class="relatives">
        相关推荐
        <% sql_query = Video.find_by_sql("select * from videos where(id !=#{@video.id}) and column_id = #{@video.column_id} order by random() limit 3") %>
        <%= render partial: 'shared/video_related', locals: {related: sql_query}%>
      </div>
      <div class="commend">
        <h4>看客评论</h4>
        <div>
          <div id="layout" data-tracking-area="layout">
            <div id="global-alert"></div>
            <section id="conversation" data-role="main" data-tracking-area="main">
              <div id="posts">
                <!--本站用户发布评论-->
                <%= render partial: 'shared/publish_comments' %>
                <div id="footer" data-tracking-area="footer"></div>
                <ul id="post-list" class="post-list" style="padding-left: 0px">
                  <!--本站用户评论-->
                  <%= render partial: 'shared/user_comments' %>
                  <!--优酷用户最新十条评论-->
                  <% if @video.video_type == 0%>
                      <% hot_comment = Video.code_to_comment(@video.tv_code) %>
                      <%= render partial: 'shared/youku_user_comments', locals: { comments: hot_comment } if hot_comment.present?%>
                <% end %>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--登录浮层-->
<%= render partial: 'shared/user_login' %>
<script type="text/javascript" >
  var ivaInstance = new Iva('playerCnt', {
    appkey: '4JAun1rRl',
    title: '<%= @video.title %>',
    video: '<%= code_type_to_url(@video.tv_code,@video.video_type)%>',
    cover: '<%= @video.cover %>',
    autoFormat: true,
    autoplay: true
  });
</script>