<%= stylesheet_link_tag 'video_player' %>
<%= javascript_include_tag 'video_player-4.2' %>
<%= content_for(:title, @video.title + ' | ^轩^') %>
<%= render partial: 'shared/og_meta', video:@video %>
<div class="container">
  <div class="grid">
    <div class="display">
      <div class="player-title">
        「<%= video_to_column_name(@video.column_id) %>」<%= @video.title %>
      </div>
      <div class="player-poster">
        <p><%= video_time @video.duration %>
          <span class="v-time"><%= @video.created_at.strftime('%m/%d %H:%M')%></span></p>
      </div>
      <div class="player">
        <div style="padding-left: 5px;padding-top: 5px">
          <div id="playerCnt" style="width:948px;height:568px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid">
    <div class="cube">
      <div class="relatives">
        <div class="cube-title">
          <h3>相关推荐</h3>
        </div>
        <% sql_query = Video.find_by_sql("select * from videos where(id !=#{@video.id}) and column_id = #{@video.column_id} order by random() limit 3") %>
        <%= render partial: 'shared/video_related', locals: {related: sql_query}%>
      </div>
      <div class="commend">
        <h3>看客评论</h3>
        <div>
          <div id="layout" data-tracking-area="layout">
            <div id="global-alert"></div>
            <section id="conversation" data-role="main" data-tracking-area="main">
              <div id="posts">
                <!--本站用户发布评论-->
                <%= render partial: 'shared/publish_comments' %>
                <ul id="post-list" class="post-list" style="padding-left: 0px">
                  <!--本站用户评论-->
                  <%#= render partial: 'shared/anye_user_comments', locals: { comments: @comments } %>
                  <!--优酷用户最新十条评论-->
                  <% hot_comment = Video.code_to_youku_hot_comment(@video.tv_code) %>
                  <% if hot_comment.present? %>
                      <%#= render partial: 'shared/youku_user_comments', locals: { comments: hot_comment } %>
                  <% end %>
                </ul>
              </div>
            </section>
            <div id="footer" data-tracking-area="footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--登录浮层-->
<%= render partial: 'shared/user_login' %>
<script type="text/javascript" >
    var ivaInstance = new Iva('playerCnt', {
        appkey: 'N1PBDCjXl',
        title: '<%= @video.title %>',
        video: '<%= code_type_to_url(@video.tv_code,@video.video_type)%>',
        cover: '<%= Settings.qiniu_cdn_host %>img_video_poster.png',
        autoplay: true
    });
    //给用户评论点赞
    function vote_comment(comment_id,vot_count){
        params = {};
        params['comment'] = {};
        params['comment']['comment_id'] = comment_id;
        $.get('/video_comments/comment_vote', params, function(data){});
        var num = parseInt(vot_count)+1;
        $('#vote_'+ comment_id).removeAttr('title').removeAttr('href').removeAttr('onclick').html('<span class="control" style="padding-left: 10px">已获赞 「'+ num +'」</span>')
    }
</script>