<%= render partial: 'layouts/notice' %>
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= Video.all.count %></h3>
          <p>Videos</p>
        </div>
        <div class="icon">
          <i class="ion ion-videocamera"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= Column.all.count %></h3>
          <p>Columns </p>
        </div>
        <div class="icon">
          <i class="ion ion-jet"></i>
        </div>
        <a href="<%= columns_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= User.all.count %></h3>
          <p>Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="<%= users_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= Cattle.file_sum %></h3>
          <p>Cloud File</p>
        </div>
        <div class="icon">
          <i class="ion ion-upload"></i>
        </div>
        <a href="<%= files_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">世界地图</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div id="world-map" style="height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    $(function(){
        $('#world-map').vectorMap({
            map: 'world_mill',
            backgroundColor: 'gray'
        });
    });
</script>