<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : '上传头像 | Koogle' %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 响应式布局 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'front_user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'user_info', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <style type='text/css' id='hot_style_patch'>
      .main-wechat{ padding-top: 45px !important}
      .done, .alert { position: static !important}
  </style>
</head>
<body class="sessions-new ">
<div id="particles-js"></div>
<section class="wrapper">
  <div class="card">
    <div class="container">
      <form action="<%= create_avatar_path %>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <div class="imageBox">
          <div class="thumbBox"></div>
          <div class="spinner" style="display: none">请添加图片文件...</div>
        </div>
        <div class="action">
          <!-- <input type="file" id="file" style=" width: 200px">-->
          <div class="new-contentarea tc">
            <a href="javascript:void(0)" class="upload-img">
              <label for="upload-file">添加文件</label>
            </a>
            <input type="file" class="" name="file" id="upload-file" />
            <input type="hidden" id="data" name="avatar"/>
          </div>
          <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
          <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
          <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
        </div>
        <div class="cropped" style="background: url(<%= image_path('avatar/form_background.png')%>)"></div>
        <div class="upload-file">
          <input type="submit" style="display: none" id="tijiao" class="Btnsty_upload" value="上传头像">
        </div>
      </form>
    </div>
    <script type="text/javascript">
        $(window).load(function() {
            var options =
            {
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                // imgSrc: 'images/avatar.png'
            }
            var cropper = $('.imageBox').cropbox(options);
            $('#upload-file').on('change', function(){
                var reader = new FileReader();
                reader.onload = function(e) {
                    options.imgSrc = e.target.result;
                    cropper = $('.imageBox').cropbox(options);
                }
                reader.readAsDataURL(this.files[0]);
                this.files = [];
            })
            $('#btnCrop').on('click', function(){
                var img = cropper.getDataURL();
                $('.cropped').html('');
                $('.cropped').append('<br><img src="'+img+'" align="absmiddle" style="width:180px;margin-left:5px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
                $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-left:5px;"><p>180px*180px</p>');
                $('#data').val(img);
                $('#tijiao').removeAttr('style');
            })
            $('#btnZoomIn').on('click', function(){
                cropper.zoomIn();
            })
            $('#btnZoomOut').on('click', function(){
                cropper.zoomOut();
            })
        });
    </script>
  </div>
</section>
</body>
</html>
<script>
    $(document).on('page:fetch',   function() { NProgress.start(); });
    $(document).on('page:change',  function() { NProgress.done(); });
</script>

