<%= content_for(:title,  '视频栏目列表 | Koogle') %>
<section class="content-header">
  <h1>
    视频栏目 <small>栏目信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 轩</a></li>
    <li class="active"><i class="fa fa-info-circle"></i> 栏目信息</li>
  </ol>
</section>

<%= render partial: 'layouts/notice' %>

<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= new_administer_column_path %>" class="btn btn-primary"><i class="ion-plus"></i> 添加栏目</a>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">封面</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">属性</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">描述</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @columns.each do |channel| %>
              <tr style="text-align: center">
                <td>
                  <img src="<%= channel.cover %>" style="height: 140px">
                </td>
                <td style="text-align: left"><br>
                  <label class="label label-primary" style="font-size: 16px">
                    <i class="glyphicon glyphicon-link"></i>
                    <%= channel.english %>
                  </label><br><br>
                  <label class="label label-primary" style="font-size: 16px">
                    <i class="<%= channel.icon %>"></i>
                    <%= channel.name %>
                  </label><br><br>
                  <label class="label label-default" style="font-size: 16px" title="更新于「<%= channel.updated_at.strftime('%Y-%m-%d %H:%M:%S') %>」">
                    <i class="glyphicon glyphicon-time"></i>
                    <%= distance_of_time_in_words_to_now channel.updated_at %>
                  </label>
                </td>
                <td style="text-align: left;max-width: 400px"><%= channel.summary.html_safe %></td>
                <td><br>
                  <a href="<%= edit_administer_column_path(channel) %>" class="btn btn-warning">
                    <i class="glyphicon glyphicon-edit"></i>
                    编辑
                  </a>
                  <br><br>
                  <a href="<%= administer_column_path(channel) %>" class="btn btn-danger" data-method="delete" data-confirm="确定删除「<%= channel.name %>」?">
                    <i class="glyphicon glyphicon-trash"></i>
                    删除
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @columns.count %>」栏目</h5></div>
        </div>
        <div class="col-sm-7">
          <div class="dataTables_paginate paging_simple_numbers">
            <%#= will_paginate @columns, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>