<%= content_for(:title,  '暗夜TV | 修改新密码') %>
<div class="main">
  <div class="main-login">
    <% if devise_error_messages!.present? %>
        <% if devise_error_messages!.include?('token是无效的') %>
            <p>邮件已经失效，请<a href="/forgot">重新发送</a></p>
        <% end %>
    <% end %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
          <%= f.hidden_field :reset_password_token %>
          <%= f.password_field :password, autofocus: true, autocomplete: 'off',placeholder:'请键入登录密码', required:'required' %>
          <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder:'请确认登录密码', required:'required' %>
          <input id="commit" class="btn input-submit" name="commit" type="submit" value="修改密码" />
        </div>
    <% end %>
  </div>
</div>
<%= render "users/shared/links" %>
<script>
    $('#user_password').change(function(){
        if($('#user_password').val().length < 6){
            $('#tip').html('键入的密码非安全长度,请保持6位以上');
            $('#user_password').val('');
            return false;
        }else{
            $('#tip').html('');
        }
    })
    $('#user_password_confirmation').change(function(){
        if($('#user_password_confirmation').val() != $('#user_password').val()){
            $('#tip').html('两次键入的密码不匹配');
            $('#user_password_confirmation').val('');
            $('#user_password').val('');
            return false;
        }else{
            $('#tip').html('新密码：'+ $('#user_password_confirmation').val() +' 请牢记!');
        }
    })
</script>

