<%= content_for(:title,  '暗夜小站 | 编辑栏目「' + @channel.title + '」') %>
<section class="content-header">
  <h1>
    编辑栏目
    <small>「<%= @channel.title %>」</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 暗夜小站</a></li>
    <li><i class="glyphicon glyphicon-edit"></i> 编辑栏目</li>
    <li class="active"><i class="glyphicon glyphicon-send"></i> <%= @channel.title %></li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <%= render partial: 'layouts/notice' %>
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">栏目编辑表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>