<%= content_for(:title,  '用户列表 | 暗夜小站') %>
<section class="content-header">
  <h1>
    用户列表 <small>注册信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 暗夜小站</a></li>
    <li class="active"><i class="fa fa-user"></i> 用户信息</li>
  </ol>
</section>
<%= render partial: 'layouts/notice' %>
<section class="content">
  <div class="box box-warning">
    <div class="box-header">
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">头像</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">信息</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">联系</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">等级</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr style="text-align: center">
                <% cache user do %>
                  <td>
                    <img src="<%= user_avatar(user)  %>" style="height: 100px;width: 100px">
                  </td>
                  <td style="text-align: left">
                    <% if user.level == 1%>
                        <span class="label label-danger" style="font-size: 14px"><i class="glyphicon glyphicon-warning-sign"></i> 管理员</span><br>
                    <% elsif user.level == 2 %>
                        <span class="label label-success" style="font-size: 14px"><i class="glyphicon glyphicon-eye-open"></i> 浏览者</span><br>
                    <% else %>
                        <span class="label label-info" style="font-size: 14px"><i class="fa fa-diamond"></i> 普通用户</span><br>
                    <% end %>
                    <br><span class="label label-default" style="font-size: 16px"><i class="glyphicon glyphicon-comment"></i> <%= user_name user %></span><br>
                    <br><span class="label label-default" style="font-size: 16px"><i class="glyphicon glyphicon-envelope"></i> <%= user.email %></span><br>
                  </td>
                  <td style="text-align: left">
                    <span class="label label-default" style="font-size: 16px"><i class="fa fa-qq"></i> <%= user.user_detail.qq %></span><br>
                    <br><span class="label label-default" style="font-size: 16px"><i class="fa fa-phone-square"></i> <%= user.user_detail.iphone %></span><br>
                    <br><span class="label label-default" style="font-size: 16px" title="登录IP：<%= user.last_sign_in_ip %>"><i class="glyphicon glyphicon-globe"></i> <%= user_ip_city user %></span>
                  </td>
                  <td title="<%= rank_name(user) %>『<%= user.sign_in_count %>』">
                    <img src="<%= rank_picture user %>" style="height: 100px;width: 110px">
                  </td>
                <% end %>
                <td style="text-align:center;width: 120px">
                <% if session[:admin].present? %>
                    <a href="/admin/set_user_to_admin?delete_id=<%= user.id %>" class="btn btn-default" data-confirm="确定将该成员逐出军团么?"><i class="glyphicon glyphicon-bullhorn"></i> 逐出成员</a>
                    <% if user.level > 0 %>
                        <br><br><a href="/admin/set_user_to_admin?admin_id=<%= user.id %>" data-confirm="是否将用户的管理权限移除?请谨慎操做！" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i> 移除权限</a>
                    <% else %>
                        <a href="/admin/set_user_to_admin?user_id=<%= user.id %>" data-confirm="是否将该用户添加管理员" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> 管理权限</a>
                        <a href="/admin/set_user_to_admin?view_id=<%= user.id %>" data-confirm="是否给用户授予浏览页面" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> 阅览权限</a>
                    <% end %>
                <% else %>
                 <% if current_user && current_user.level == 1%>
                     <a href="/admin/set_user_to_admin?view_id=<%= user.id %>" data-confirm="是否给用户授予浏览页面" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> 阅览权限</a>
                  <% end %>
                <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @users.total_entries%>」用户</h5></div>
        </div>
        <div class="col-sm-7">
          <div class="dataTables_paginate paging_simple_numbers">
            <%= will_paginate @users, :class=>'apple_pagination', :previous_label => '上一页', :next_label => '下一页' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>