<%= form_for(['admin',@av_lib]) do |f| %>
    <div class="box-body" style="padding-left: 100px">

      <div class="form-group has-feedback">
        <label>封面文件</label>
        <div class="input-group" style="width: 300px">
          <div class="input-group-addon">
            <i class="fa fa-image"></i>
          </div>
          <%= f.file_field :photo_file, class:'form-control', accept:'.jpg,.png,.jpeg' %>
        </div>
        <div id="imgdiv" style="display: none">
          <img id="imgblah" style="max-width: 300px;padding-top: 10px"/>
        </div>
        <% if action_name =='edit' %>
            <img id="imgedit" src="<%= @av_lib.av_poster %>" style="max-width: 300px;padding-top: 10px"/>
        <% end %>
      </div>
      <div class="form-group has-warning">
        <label>时长</label>
        <div class="input-group" style="width: 300px">
          <div class="input-group-addon">
            <i class="fa fa-buysellads"></i>
          </div>
          <%= f.text_field :av_duration, class:'form-control', placeholder:'（必填*）100分钟' %>
        </div>
      </div>
      <div class="form-group has-warning">
        <label>类别</label>
        <div class="input-group" style="width: 300px">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-bookmark"></i>
          </div>
          <%= f.select(:av_type, ['午夜激情','动漫卡通','制服诱惑','电车痴汉'], {prompt: true},{:class => 'form-control'}) %>
        </div>
      </div>
      <div class="form-group has-error">
        <label>标题</label>
        <div class="input-group" style="width: 400px">
          <div class="input-group-addon">
            <i class="fa fa-buysellads"></i>
          </div>
          <%= f.text_field :av_title, class:'form-control', placeholder:'（必填*）视频标题' %>
        </div>
      </div>
      <div class="form-group has-success">
        <label>封面</label>
        <div class="input-group" style="width: 500px">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-link"></i>
          </div>
          <%= f.text_field :av_poster, class:'form-control', placeholder:'（选填*）http://www.domain.com/photo.jpg' %>
        </div>
      </div>
      <div class="form-group has-error">
        <label>资源</label>
        <div class="input-group" style="width: 500px">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-link"></i>
          </div>
          <%= f.text_field :av_source, class:'form-control', placeholder:'（必填*）http://www.domain.com/video.mp4' %>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label>视频简介</label>
        <div class="input-group"style="width: 600px">
          <%= f.text_area :av_introduction, class:'textarea', placeholder:'Place some text here', style:'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' %>
        </div>
      </div>
      <hr>
      <div>
        <button type="submit" class="btn btn-primary" style="width: 120px">提交</button>
        <a href="<%= admin_av_libs_path %>" class="btn btn-warning" style="width: 120px">取消</a>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    $(function () {
        $(".textarea").wysihtml5();
    });
    $("#av_lib_photo_file").change(function(){
        readimgURL(this);
        $('#imgdiv').removeAttr('style');
        $('#imgedit').attr('style','display: none');
    });
    function readimgURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgblah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    };
</script>
