<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : '暗夜丶TV | '+ user_name(current_user) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag 'krtv_login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ktv_login', 'particles','wxLogin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <style type='text/css' id='hot_style_patch'>
      .main-wechat{ padding-top: 45px !important}
      .done, .alert { position: static !important}
  </style>
</head>
<body class="sessions-new ">
<div id="particles-js"></div>
<section class="wrapper">
  <div class="card">
    <div class="front">
      <header class="header">
        <div class="header-logo">
          <a href="/">
            <h1 class="header--logo__36kr">36kr</h1>
          </a><p class="header--logo__slogan">龙魂凤血流星剑<br>风起云涌暗夜冥</p>
        </div>
        <div class="header-help">
          <a href="/" class="header-help__btn">帮助</a>
        </div>
      </header>
      <div class="main">
        <div class="main-login">
          <form accept-charset="UTF-8" action="<%= profile_update_user_details_path %>" class="simple_form new_user" id="new_user" method="post">
            <div class="form-group">
              <input aria-required="true" autocomplete="off"  value="<%= current_user.email %>"  type="text" disabled style="color: red" />
              <input aria-required="true" autocomplete="off"  id="nick_name" name="user[nick_name]" placeholder="请键入个性网名" value="<%= current_user.user_detail.nick_name %>"  type="text" style="color: brown"/>
              <input aria-required="true" autocomplete="off"  id="qq" name="user[qq]" placeholder="请键入QQ联络号" value="<%= current_user.user_detail.qq %>" type="text" style="color: darkslateblue"/>
              <input aria-required="true" autocomplete="off"  id="iphone" name="user[iphone]" placeholder="请键入常用手机" value="<%= current_user.user_detail.iphone %>" type="text" style="color: mediumblue"/>
              <input class="btn input-submit" name="commit" type="submit" value="更新资料" />
            </div>
          </form>
        </div>
      </div>
      <footer class="footer">
      </footer>
    </div>
  </div>
</section>
</body>
</html>
