<div class="row">
  <div class="<%= 'active' if action_name=='index'%>">
    <a href="/"><icon class="fa fa-delicious"></icon> 精彩推荐</a>
  </div>
  <div class="<%= 'active' if ['channel','playing','interim'].include?("#{action_name}") %>">
    <ul class="menu">
      <li>
        <a>
          <% if params[:english].present? || params[:tv_code].present? %>
            <% column = Column.find_by_english(params[:english]) || Column.find(@video.column_id) %>
            <i class="<%= column.icon %>"></i>&nbsp;<span><%= column.name %></span>
          <% else %>
            <icon class="fa fa-stack-overflow"></icon> 视频分类
          <% end %>
        </a>
        <div>
          <% Column.hexie.each do |channel|%>
            <a href="<%= video_channel_path(channel.english) %>"><i class="<%= channel.icon %>"></i>&nbsp;&nbsp;<%= channel.name %></a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="<%= 'active' unless ['index','channel','playing','interim'].include?("#{action_name}") %>">
    <ul class="menu">
    <% if current_user %>
      <li>
        <a><%= display_name current_user %></a>
        <div>
          <a href="<%= new_avatar_path %>"><i class="fa fa-upload"></i>&nbsp;上传头像</a>
          <a href="<%= profile_path %>"><i class="fa fa-user-secret"></i>&nbsp;个人中心</a>
          <a href="<%= columns_path %>"> <i class="fa fa-gears"></i>&nbsp;数据管理</a>
          <a href="<%= sign_out_path %>"><i class="fa fa-sign-out"></i>&nbsp;账户登出</a>
        </div>
      </li>
    <% else %>
      <li>
        <a><icon class="fa fa-user-secret"></icon> 用户中心</a>
        <div>
          <a href="<%= sign_up_path %>"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;注册</a>
          <a href="<%= sign_in_path %>"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;登陆</a>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>