<!doctype html>
<html class="no-js" lang="">
<head>
  <title><%= content_for?(:title) ? yield(:title) : '在沉默中爆发 | Koogle' %></title>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <!-- 响应式布局 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= content_for?(:meta)? yield(:meta) :'' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= stylesheet_link_tag  'front', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="nav-wrapper navbar-fixed-top">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="padding-top: 0px">
        <% unless current_user.present? %>
            <img alt="Brand" height="50" src="<%= image_url('toutu/just_logo.png') %>" title="在沉默中爆发">
        <% else %>
            <img alt="Brand" height="50" src="<%= rank_picture current_user %>" title="<%= rank_name current_user%>">
        <% end %>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <% if params[:english].present? %>
            <% column = Column.find_by_english(params[:english]) %>
            <i class="<%= column.icon %>"></i>&nbsp;<span><%= column.name %></span>
          <% elsif params[:tv_code].present? %>
              <% column = Column.find(@video.column_id) %>
              <i class="<%= column.icon %>"></i>&nbsp;<span><%= column.name %></span>
          <% else %>
              <i class="fa fa-diamond"></i>&nbsp;<span>栏目</span>
          <% end %>
        </a>
        <ul class="dropdown-menu" role="menu">
          <% Column.hexie.each do |channel|%>
              <li><a href="<%= video_channel_path(channel.english) %>"><i class="<%= channel.icon %>"></i>&nbsp;&nbsp;<%= channel.name %></a></li>
          <% end %>
          <% if current_user && current_user.can_av? && Column.find_by_english('Fucking')%>
              <% channel = Column.find_by_english('Fucking') %>
              <li><a href="<%= video_channel_path(channel.english) %>"><i class="<%= channel.icon %>"></i>&nbsp;&nbsp;<%= channel.name %></a></li>
          <% end %>
        </ul>
      </li>
      <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="ipad_avatar">
                <img src="<%= display_avatar current_user%>" height="18px" class="img-circle">&nbsp;&nbsp;
                <%= display_name current_user %>
              </span>
              <span class="iphone_avatar">
                <img src="<%= display_avatar current_user%>" height="24px">&nbsp;&nbsp;
              </span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.role == 'admin' %>
                 <li><a href="<%= columns_path %>"> <i class="fa fa-gears"></i>&nbsp;数据管理</a></li>
              <% end%>
              <li><a href="<%= new_avatar_path %>"><i class="fa fa-upload"></i>&nbsp;上传头像</a></li>
              <li><a href="<%= profile_path %>"><i class="fa fa-user-secret"></i>&nbsp;个人中心</a></li>
              <li><a href="<%= sign_out_path %>"><i class="fa fa-sign-out"></i>&nbsp;账户登出</a></li>
              <li><a><img src="<%= image_path(rank_picture current_user) %>" height="20px">&nbsp;<%= rank_name(current_user)%></a></li>
            </ul>
          </li>
      <% else %>
          <li><a href="<%= sign_in_path %>"><i class="fa fa-sign-in"></i>&nbsp;登录</a></li>
          <li><a href="<%= sign_up_path %>"><i class="fa fa-user-plus"></i>&nbsp;注册</a></li>
      <% end %>
    </ul>
  </nav>
</div>
<div>
  <%= yield %>
</div>
<footer class="footer">
  <%= render :partial => 'layouts/footer' %>
</footer>
<div class="footer-menu">
  <%= render :partial => 'layouts/footer_menu' %>
</div>
</body>
<script>
    $(document).on('page:fetch',   function() { NProgress.start(); });
    $(document).on('page:change',  function() { NProgress.done(); });
</script>
</html>

