<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : '用户中心 | ^轩^ ' %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 响应式布局 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'front_user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'user_info', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <style type='text/css' id='hot_style_patch'>
      .main-wechat{ padding-top: 45px !important}
      .done, .alert { position: static !important}
  </style>
</head>
<body class="sessions-new ">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="particles-js"></div>
<section class="wrapper">
  <div class="card">
    <div class="front">
      <header class="header">
        <div class="header-logo">
          <a href="/"><h1 class="header--logo__36kr"></h1></a>
          <p id="tip" class="header--logo__slogan">
            <% if request.url.include?('users') %>
              邮箱已被使用，请更换
            <% elsif request.url.include?('sign_login')%>
                邮箱或密码有误，请检查
            <% end %>
          </p>
        </div>
        <div class="header-help">
          <a href="/" class="header-help__btn">帮助</a>
        </div>
      </header>
      <div>
        <%= yield %>
      </div>
      <footer class="footer">
      </footer>
    </div>
  </div>
</section>
</body>
</html>
<script>
    $(document).on('page:fetch',   function() { NProgress.start(); });
    $(document).on('page:change',  function() { NProgress.done(); });
</script>